version: "3.9"

services:
  pg-local:
    container_name: pg-local
    image: postgis/postgis:16-3.4-alpine  # ← ТОЛЬКО ЭТО ИЗМЕНИЛ
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U \"$${POSTGRES_USER}\" -d \"$${POSTGRES_DB}\"" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
  

  migrate:
    image: ghcr.io/kukymbr/goose-docker:3.24.3
    container_name: migration
    depends_on:
      pg-local:
        condition: service_healthy
    restart: on-failure
    environment:
      - GOOSE_DRIVER=postgres
      - GOOSE_DBSTRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pg-local:5432/${POSTGRES_DB}?sslmode=disable
      - GOOSE_MIGRATION_DIR=/migrations
    volumes:
      - ./migrations:/migrations
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis-local
    depends_on:
      - pg-local  # если нужно
    ports:
      - "${REDIS_PORT:-6379}:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping | grep PONG" ]
      interval: 10s
      timeout: 5s
      retries: 3
    command: redis-server --requirepass ${REDIS_PASSWORD:-""}
    networks:
      - app-network

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      pg-local:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    env_file:
      - .env
    restart: always
    networks:
      - app-network
    environment:
      DB_HOST: pg-local
      DB_PORT: 5432
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
